@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Open Sans", sans-serif;
}

a {
  display: block;
}

html::-webkit-scrollbar {
  display: none;
}

.header__wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo_wrap {
  width: 100px;
}
.header__logo_wrap a {
  display: block;
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #292a35;
  height: 88vh;
}
.header__banner .banner__card {
  position: relative;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 75%;
  min-width: 300px;
  max-width: 510px;
}
.header__banner .banner__card__block-blue {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #3eafc0;
  top: -30px;
  right: -20px;
  z-index: -1;
}
.header__banner .banner__card__block-red {
  z-index: -1;
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #fc5c5c;
  bottom: -30px;
  left: -20px;
}
@media (min-width: 900px) {
  .header__banner .banner__card {
    min-width: 870px;
    max-width: 1200px;
  }
}
@media (min-width: 900px) {
  .header__banner .banner__card .banner__card__img {
    width: 55%;
  }
}
@media (min-width: 900px) {
  .header__banner .banner__card {
    flex-direction: row;
  }
}
.header__banner .banner__card__text {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.2;
}
@media (min-width: 900px) {
  .header__banner .banner__card__text {
    justify-content: center;
  }
}
.header__banner .banner__card__text h1 {
  font-family: "Fredoka One", cursive;
  font-size: 2.75rem;
  color: #fc5c5c;
}
@media (min-width: 900px) {
  .header__banner .banner__card__text h1 {
    font-size: 3.75rem;
  }
}
.header__banner .banner__card__text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
}
@media (min-width: 900px) {
  .header__banner .banner__card__text {
    width: 45%;
  }
}

.rules {
  width: 90%;
  margin: 2rem auto 0;
}
@media (min-width: 900px) {
  .rules {
    width: 70%;
  }
}

.padding {
  padding: 0 2rem;
}

.rules__header {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  font-size: 2.75rem;
  color: #fc5c5c;
}
@media (min-width: 900px) {
  .rules__header {
    font-size: 3.75rem;
    line-height: 1.2;
  }
}

.rules__wrap {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .rules__wrap {
    flex-direction: row;
  }
}
.rules__wrap > * + * {
  margin-top: 2rem;
}
@media (min-width: 900px) {
  .rules__wrap > * + * {
    margin-top: 0;
  }
}

.rule__num {
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3eafc0;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
}

.rule {
  display: flex;
  align-items: flex-start;
}

.rule__text {
  padding: 0 1rem;
}

.rule__link {
  padding: 10px;
  width: 50%;
  min-width: 130px;
  background-color: #3eafc0;
  margin-top: 1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-bottom: 3px solid #fc5c5c;
  box-shadow: 8px 5px 11px 0px rgba(0, 0, 0, 0.34);
}

.contact {
  margin-top: 3rem;
}

.contact__wrap {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .contact__wrap {
    flex-direction: row-reverse;
  }
}

.contact__card {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .contact__card {
    padding: 0 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.contact__card h3 {
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.2;
}
.contact__card h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  color: #fc5c5c;
  line-height: 1.2;
}
.contact__card p {
  margin-top: 1.5rem;
  font-weight: bold;
  font-size: 1.125rem;
}
.contact__card button {
  margin-top: 1.5rem;
  background-color: #fc5c5c;
  color: white;
  width: 45%;
  max-width: 300px;
  padding: 15px;
  border-radius: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-color: #fc5c5c;
  border-style: solid;
}
.contact__card button:hover {
  background-color: transparent;
  color: black;
}

.contact__image {
  margin-top: 2rem;
}
@media (min-width: 900px) {
  .contact__image {
    width: 50%;
  }
}

.team__decoration {
  width: 250px;
  height: 250px;
  background-color: #fc5c5c;
  position: relative;
  top: -30px;
  left: -35px;
  border-radius: 50%;
}

.team__wrap {
  margin-top: -40px;
}

@media (min-width: 900px) {
  .team__wrap {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
}

.team__card {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .team__card {
    width: 50%;
    padding: 0 1rem;
  }
}
.team__card h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-family: "Fredoka One", cursive;
  color: #fc5c5c;
}
.team__card p {
  margin-top: 2rem;
}

.team__img {
  margin-top: 3rem;
  position: relative;
}
@media (min-width: 900px) {
  .team__img {
    width: 50%;
    margin-top: 0;
    top: -150px;
  }
}
.team__img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .team__img img {
    width: 300px;
    height: 300px;
  }
}
.team__img .team__img__background {
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 80%;
  height: 250px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%233eafc0' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.banner__lower {
  background-color: #292a35;
  height: 100vh;
}

.banner__lower__wrap {
  max-width: 530px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}
@media (min-width: 900px) {
  .banner__lower__wrap {
    max-width: 900px;
    width: 80%;
  }
}

.banner__lower__decoration {
  width: 200px;
  height: 90%;
  background-color: #fc5c5c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media (min-width: 900px) {
  .banner__lower__decoration {
    left: 50%;
    width: 250px;
  }
}

.banner__lower__image {
  max-width: 300px;
  width: 85%;
  position: absolute;
  left: 10%;
  top: 15%;
}
@media (min-width: 900px) {
  .banner__lower__image {
    max-width: 400px;
  }
}

.lower__image__wrap {
  position: relative;
}

.banner__lower__text {
  width: 250px;
  position: absolute;
  right: 0;
  top: 90%;
  box-shadow: 0 0 4px black;
  z-index: 5;
  background-color: white;
  padding: 1rem;
}
@media (min-width: 900px) {
  .banner__lower__text {
    width: 400px;
    left: 70%;
    padding: 2rem;
  }
}
.banner__lower__text h2 {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
}
.banner__lower__text p {
  font-size: 1.0625rem;
}

.skills__wrap {
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .skills__wrap {
    flex-direction: row;
  }
}

.skills__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
}
@media (min-width: 900px) {
  .skills__card {
    width: 50%;
  }
}
.skills__card h2 {
  font-size: 3.75rem;
  color: #fc5c5c;
  font-family: "Fredoka One", cursive;
  text-transform: uppercase;
}
.skills__card button {
  margin-top: 2rem;
  padding: 10px 0;
  width: 35%;
  min-width: 200px;
  border-radius: 20px;
  border-color: #fc5c5c;
  border-style: solid;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}
.skills__card button:hover {
  background-color: #fc5c5c;
  color: white;
}

.skills__card__list {
  list-style: none;
  font-weight: bold;
}
.skills__card__list i {
  margin-left: -20px;
  color: #fc5c5c;
}
.skills__card__list span {
  color: #fc5c5c;
}
.skills__card__list li + li {
  margin-top: 2rem;
}

@media (min-width: 900px) {
  .skills__img {
    width: 50%;
  }
}

.about {
  padding-top: 3rem;
}

@media (min-width: 900px) {
  .about__wrap {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20rem;
  }
}

.about__text_card {
  margin: 2rem 0;
}
@media (min-width: 900px) {
  .about__text_card {
    width: 33%;
    position: relative;
    top: 5rem;
  }
}
.about__text_card__wrap {
  padding: 3rem 0;
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .about__text_card__wrap {
    width: 90%;
  }
}
.about__text_card__wrap a {
  margin-top: 3rem;
  color: #157ecf;
  font-weight: bold;
  text-decoration: none;
}
.about__text_card h2 {
  text-transform: uppercase;
  font-family: "Fredoka One", cursive;
  color: #fc5c5c;
  font-size: 3.75rem;
}
.about__text_card p {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: bold;
}

.about__image-two, .about__image-one {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .about__image-two, .about__image-one {
    width: 30%;
  }
}
@media (min-width: 900px) {
  .about__image-two {
    position: relative;
    top: 18rem;
  }
}

.portrait {
  display: none;
}
@media (min-width: 900px) {
  .portrait {
    display: block;
  }
}

.square_img {
  display: block;
}
@media (min-width: 900px) {
  .square_img {
    display: none;
  }
}

.img__decoration__wrap {
  position: relative;
}

.about__image-two__decoration {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -80px;
  right: -80px;
  background-color: #fc5c5c;
  border-radius: 50%;
}
@media (min-width: 900px) {
  .about__image-two__decoration {
    display: block;
  }
}

.bottom_banner__text_card {
  width: 30%;
  border: 2px solid red;
}
.bottom_banner__text_card h2 {
  font-family: "Fredoka One", cursive;
  color: #fc5c5c;
  text-transform: uppercase;
  font-size: 3.44rem;
}

/*# sourceMappingURL=style.css.map */
