@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:wght@300;400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Open Sans", sans-serif;
}

.header__wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo_wrap {
  width: 100px;
}
.header__logo_wrap a {
  display: block;
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #292a35;
  height: 88vh;
}
.header__banner .banner__card {
  position: relative;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 75%;
  min-width: 300px;
  max-width: 510px;
}
.header__banner .banner__card__block-blue {
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #3eafc0;
  top: -30px;
  right: -20px;
  z-index: -1;
}
.header__banner .banner__card__block-red {
  z-index: -1;
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #fc5c5c;
  bottom: -30px;
  left: -20px;
}
@media (min-width: 900px) {
  .header__banner .banner__card {
    min-width: 870px;
    max-width: 1200px;
  }
}
@media (min-width: 900px) {
  .header__banner .banner__card .banner__card__img {
    width: 55%;
  }
}
@media (min-width: 900px) {
  .header__banner .banner__card {
    flex-direction: row;
  }
}
.header__banner .banner__card__text {
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  line-height: 1.2;
}
@media (min-width: 900px) {
  .header__banner .banner__card__text {
    justify-content: center;
  }
}
.header__banner .banner__card__text h1 {
  font-family: "Fredoka One", cursive;
  font-size: 2.75rem;
  color: #fc5c5c;
}
@media (min-width: 900px) {
  .header__banner .banner__card__text h1 {
    font-size: 3.75rem;
  }
}
.header__banner .banner__card__text h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
}
@media (min-width: 900px) {
  .header__banner .banner__card__text {
    width: 45%;
  }
}

.rules {
  width: 70%;
  margin: 0 auto;
}

.rules__header {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  font-size: 2.75rem;
  color: #fc5c5c;
}
@media (min-width: 900px) {
  .rules__header {
    font-size: 3.75rem;
    line-height: 1.2;
  }
}

.rules__wrap {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 900px) {
  .rules__wrap {
    flex-direction: row;
  }
}

.rule__num {
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3eafc0;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
}

.rule {
  display: flex;
  align-items: flex-start;
}

.rule__text {
  padding: 0 2rem;
}

/*# sourceMappingURL=style.css.map */
