@use "../abstracts";

.header__wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo_wrap {
  width: 100px;
  a {
    display: block;
  }
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: abstracts.$dark;
  height: 88vh;
  .banner__card {
    position: relative;
    z-index: 2;
    &__block-blue {
      width: 50%;
      height: 50%;
      position: absolute;
      background-color: abstracts.$lblue;
      top: -30px;
      right: -20px;
      z-index: -1;
    }
    &__block-red {
      z-index: -1;
      width: 50%;
      height: 50%;
      position: absolute;
      background-color: abstracts.$orange;
      bottom: -30px;
      left: -20px;
    }
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 300px;
    max-width: 510px;
    @include abstracts.mq(900px) {
      min-width: 870px;
      max-width: 1200px;
    }
    .banner__card__img {
      @include abstracts.mq(900px) {
        width: 55%;
      }
    }

    @include abstracts.mq(900px) {
      flex-direction: row;
    }
  }
  .banner__card__text {
    padding: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 1.2;
    @include abstracts.mq(900px) {
      justify-content: center;
    }
    h1 {
      font-family: abstracts.$hfont;
      font-size: 2.75rem;
      color: abstracts.$orange;
      @include abstracts.mq(900px) {
        font-size: 3.75rem;
      }
    }
    h2 {
      font-family: abstracts.$subfont-light;
      font-size: 1.875rem;
      font-weight: 300;
    }
    @include abstracts.mq(900px) {
      width: 45%;
    }
  }
}
