@use "../abstracts";

.header__wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo_wrap {
  width: 100px;
  a {
    display: block;
  }
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #04252d;
  height: 88vh;
  .banner__card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    min-width: 300px;
    max-width: 550px;
    @include abstracts.mq(900px) {
      min-width: 870px;
      max-width: 1200px;
    }
    .banner__card__img {
      @include abstracts.mq(900px) {
        width: 55%;
      }
    }

    @include abstracts.mq(900px) {
      flex-direction: row;
    }
    &__text {
      padding: 1rem 1rem;
    }
  }
  .banner__card__text {
    h1 {
      font-family: abstracts.$hfont;
      font-size: 2.75rem;
      @include abstracts.mq(900px) {
        font-size: 3.75rem;
      }
    }
    h2 {
      font-family: abstracts.$subfont;
      font-size: 1.875rem;
      font-weight: 300;
    }
    @include abstracts.mq(900px) {
      width: 45%;
    }
  }
}
