@use "../abstracts";

.header__wrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo_wrap {
  width: 100px;
  a {
    display: block;
  }
}

.header__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #04252d;
  height: 88vh;
  .banner__card {
    background-color: white;
    display: flex;
    flex-direction: column;

    @include abstracts.mq(768px) {
      flex-direction: row;
      align-items: center;
      img {
        height: 30vh;
      }
    }
    &__text {
      padding: 6rem 1rem;
    }
  }
}
