@use "../abstracts";

.rules {
  width: 70%;
  margin: 0 auto;
}
.rules__header {
  font-family: abstracts.$hfont;
  font-weight: 400;
  font-size: 2.75rem;
  color: abstracts.$orange;
  @include abstracts.mq(900px) {
    font-size: 3.75rem;
    line-height: 1.2;
  }
}
.rules__wrap {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  @include abstracts.mq(900px) {
    flex-direction: row;
  }
}
.rule__num {
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: abstracts.$lblue;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
}

.rule {
  display: flex;
  align-items: flex-start;
}

.rule__text {
  padding: 0 2rem;
}
