@use "../abstracts";

.rules {
  width: 90%;
  margin: 2rem auto 0;
  @include abstracts.mq(900px) {
    width: 70%;
  }
}
.rules__header {
  font-family: abstracts.$hfont;
  font-weight: 400;
  font-size: 2.75rem;
  color: abstracts.$orange;
  @include abstracts.mq(900px) {
    font-size: 3.75rem;
    line-height: 1.2;
  }
}
.rules__wrap {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  @include abstracts.mq(900px) {
    flex-direction: row;
  }
  > * + * {
    margin-top: 2rem;
    @include abstracts.mq(900px) {
      margin-top: 0;
    }
  }
}
.rule__num {
  color: white;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: abstracts.$lblue;
  min-width: 80px;
  height: 80px;
  border-radius: 50%;
}

.rule {
  display: flex;
  align-items: flex-start;
}

.rule__text {
  padding: 0 1rem;
}

.rule__link {
  padding: 10px;
  width: 50%;
  min-width: 130px;
  background-color: abstracts.$lblue;
  margin-top: 1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border-bottom: 3px solid abstracts.$orange;
  box-shadow: 8px 5px 11px 0px rgba(black, 0.34);
}
