.modal_backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, 0);
  transition: background-color 10s linear;
  pointer-events: none;
}

.dark {
  background-color: rgba(black, 0.8);
}
