@use "../abstracts";
.modal {
  width: 50%;
  max-width: 260px;
  color: white;
  ul {
    list-style-type: none;
    font-size: 1.8rem;
    a {
      text-decoration: none;
      color: white;
    }
    li + li {
      margin-top: 1rem;
    }
    a:hover {
      color: rgb(134, 134, 134);
    }
  }
  @include abstracts.mq(900px) {
    width: 20%;
  }
  height: 100vh;
  background-color: rgba(black, 0.9);
  position: fixed;
  top: 0;
  left: -1000px;
  z-index: 100;
  transition: transform 0.2s linear;
}

.open {
  transform: translateX(1000px);
}

.modal_backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(black, 0);
  transition: background-color 0.5s linear;
  pointer-events: none;
}

.darken {
  background-color: rgba(black, 0.8);
  pointer-events: auto;
}
